body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/* encabezado */
.Encabezado{
    width:100%;
    display: flex;
    flex-direction: column;
    
    border-bottom:groove;
    border-color: #0e2652;
}
.Encabezado1{
    max-width: 100%;
   max-height: 110px;
    display: flex;
    flex-direction: row;
   
}
.encabezadoimg1{
    padding-left: 2%;
    display: flex;
    justify-content:left ;
}
.encabezadoimg2{
    display: flex;
    justify-content:right ;
}
.Encabezado2{
    display: flex;
    flex-direction: column;
    justify-content:center ;
}
.Buscador{
    display: flex;
    flex-direction: row;
    justify-content:end ;
    padding-top: 3%;
    padding-right: 10%;
}
#Buscar{
    border: none;  
    background-color: #0e2652;
    padding: 5px;
    margin: 0;
    border-radius: 10px;
    color: white;  
    font-size: medium;
}
.Buscador button{
    height: 30px;
    font-size: medium;
    border: groove;
    border-radius: 5px;
    background: none;
    cursor: pointer;  
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: medium;
    background-color: white;
}
#LogoLetras{
    max-width: 100%;
}
#LogoChico{
    max-width: 100%;
}
.indiceP ul {
    list-style-type: none;
    text-align: center;
}
.indiceP li {
    display:inline-flex;
    flex-direction: row;
}
.indiceP a {
    text-decoration: none;
    color: #110303;
    padding: 5px 5px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: x-large;
}
.indiceP a:hover {
    background-color: #0e2652;
    color: white;
}
/*principal */
.Principal{
    
    padding: 10px;
}
.Product, .Servic{
padding: 2% 10%;
}
.Product:hover, .Servic:hover{
    padding: 2% 10%;
    background-color: #0e2652;
    }
.Product img, .Servic img{
    width:100%;
}
/*footer*/
.footer{
    display: flex;
    flex-direction:column;
    max-width: 100%;
    background-color:#0e2652;
}
.Pfooter{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    max-width: 100%;

}
.Ftitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-size: x-large;
}
.Dato1{
    display: inline-block;
    flex-direction:row;
    justify-self: start;
    color: #ffffff;
    padding: 10px;
    margin-top: 20%;
    max-width: 200px;
}
.Dato1 a {
    text-decoration: none;
    color: #ffffff;
}
.Dato1 img {
    display: flex;
    align-items: start;
    max-width: 30%;
}
.Info{
    display: flex;
    flex-direction:row;
    align-items: baseline;
}
.Pfooter .Mapa {
 display: flex;
  padding: 10px;
}
.Pfooter .Mapa iframe{
 max-width: 100%;  
}
.copy{
    background-color: #0e2652;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    font-size: large;
}